.hide-scroll {
    scrollbar-width: none; /* Oculta la barra de desplazamiento en navegadores que la admitan */
    -ms-overflow-style: none; /* Oculta la barra de desplazamiento en Internet Explorer */
}

.hide-scroll::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento en WebKit (Chrome, Safari, etc.) */
}
